<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <select id="memberSeq" resultType="Integer">
       SELECT CUSTOMER_seq.NEXTVAL FROM dual 
    </select>
    

<!-- 회원가입 정도 넣는 것 -->
    <insert id="insertMember1" parameterType="com.sp.member.Member">
       INSERT INTO CUSTOMER
       			(customerCode, tel, email, userName, birth)  VALUES 
            	(#{customerCode}, #{tel}, #{email}, #{userName}, #{birth})
    </insert>

    <insert id="insertMember2" parameterType="com.sp.member.Member">
       INSERT INTO MEMBER(customerCode, userId, userPwd, enabled, membershipCode, membershipDate) VALUES
                 (#{customerCode}, #{userId}, #{userPwd}, #{enabled}, #{membershipCode}, SYSDATE) 
    </insert>

    <insert id="insertAuthority" parameterType="com.sp.member.Member">
    	INSERT INTO memberAuthority(userId, authority)
    		VALUES (#{userId}, #{authority})
    </insert>
    
	<update id="updateLastLogin" parameterType="String">
		UPDATE MEMBER SET last_login = SYSDATE
		WHERE userId=#{userId}
	</update>


<!-- 로그인 하는거 -->
    <select id="readMember1" parameterType="String" resultType="com.sp.member.Member">
		SELECT m1.customerCode, userId, userName, userPwd, enabled, created_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, m2.membershipCode, disCount, membershipName, TO_CHAR(membershipDate, 'YYYY-MM-DD') membershipDate
		FROM CUSTOMER m1
		JOIN member m2 ON m1.customerCode = m2.customerCode
		JOIN membershipinfo m3 ON m2.membershipCode = m3.membershipCode
		WHERE userId = #{userId}
	</select>

    <select id="readMember2" parameterType="String" resultType="com.sp.member.Member">
		SELECT m1.customerCode, userId, userName, userPwd, enabled, created_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, m2.membershipCode, disCount, membershipName, TO_CHAR(membershipDate, 'YYYY-MM-DD') membershipDate
		FROM CUSTOMER m1
		LEFT OUTER JOIN member m2 ON m1.customerCode = m2.customerCode
		LEFT OUTER JOIN membershipinfo m3 ON m2.membershipCode = m3.membershipCode
		WHERE m1.customerCode = #{customerCode}
	</select>
	
	
	<select id="readMember3" parameterType="String" resultType="com.sp.member.Member">
		SELECT m1.customerCode, userId, userName, userPwd, enabled, created_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, m2.membershipCode, disCount, membershipName, TO_CHAR(membershipDate, 'YYYY-MM-DD') membershipDate
		FROM CUSTOMER m1
		JOIN member m2 ON m1.customerCode = m2.customerCode
		JOIN membershipinfo m3 ON m2.membershipCode = m3.membershipCode
		WHERE email = #{email}
	</select>

	
	<!-- 회원정보 수정 -->
	<update id="updateMemberEnabled" parameterType="map">
        UPDATE member SET enabled=#{enabled} WHERE userId=#{userId}
    </update>
    
    <select id="updateReder" parameterType="Long" resultType="com.sp.member.Member">
    	SELECT m1.customerCode, userId, userPwd ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, membershipCode
		FROM CUSTOMER m1
		LEFT OUTER JOIN member m2 ON m1.customerCode = m2.customerCode
		WHERE m1.userId = #{userId}
    </select>
    
    
    <update id="updateMember1" parameterType="com.sp.member.Member">
        UPDATE CUSTOMER SET tel = #{tel, jdbcType=VARCHAR} , email = #{email, jdbcType=VARCHAR}
        ,birth=#{birth, jdbcType=DATE}
               WHERE customerCode=#{customerCode}
    </update>
    

    <update id="updateMember2" parameterType="com.sp.member.Member">
        UPDATE member SET userPwd = #{userPwd}
               WHERE userId=#{userId}
    </update>
    
    <update id="updateMember3" parameterType="com.sp.member.Member">
        UPDATE member SET membershipCode = #{membershipCode}, membershipDate=SYSDATE
               WHERE userId=#{userId}
    </update>
    
    <select id="readNonMember" parameterType="map" resultType="com.sp.member.Member">
    	select userName, birth, email, tel
			from customer c
		where userName=#{userName} AND birth=#{birth} AND email=#{email} AND tel=#{tel}
    </select>
    
    <select id="listNonMember" parameterType="map" resultType="com.sp.member.Member">
    	 SELECT userName, b.bookCode, TO_CHAR(b.bookdate, 'YYYY-MM-DD') bookdate , TO_CHAR(s.showingdate, 'YYYY-MM-DD') showingdate, cn.cmName, m.movienm 
    	FROM customer c 
    	JOIN BOOKING b ON c.customerCode = b.memberCode 
    	JOIN showingSchedule s ON b.scheduleCode = s.scheduleCode 
    	JOIN SHOWINGMOVIE s1 ON s.showingcode = s1.showingcode 
    	JOIN cinema cn ON s1.cmCode = cn.cmcode 
    	JOIN movie m ON s1.movieCode = m.moviecode 
	<where>
	userName=#{userName} AND birth=#{birth} AND email=#{email} AND tel=#{tel}
	</where>
	
    </select>
    
    
    <select id="dataCountNonMember" parameterType="map" resultType="Integer">
    	 SELECT NVL(COUNT(*), 0)
    	FROM customer c 
    	JOIN BOOKING b ON c.customerCode = b.memberCode 
    	JOIN showingSchedule s ON b.scheduleCode = s.scheduleCode 
    	JOIN SHOWINGMOVIE s1 ON s.showingcode = s1.showingcode 
    	JOIN cinema cn ON s1.cmCode = cn.cmcode 
    	JOIN movie m ON s1.movieCode = m.moviecode
    	<where>
		userName=#{userName} AND birth=#{birth} AND email=#{email} AND tel=#{tel}
		</where>
    </select>
    
    

  

</mapper>