<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <select id="memberSeq" resultType="Long">
       SELECT CUSTOMER_seq.NEXTVAL FROM dual 
    </select>

    <insert id="insertMember1" parameterType="com.sp.member.Member">
       INSERT INTO CUSTOMER
       			(customerCode, tel, email, userName, birth)  VALUES 
            	(#{customerCode}, #{tel}, #{email}, #{userName}, #{birth})
    </insert>

    <insert id="insertMember2" parameterType="com.sp.member.Member">
       INSERT INTO MEMBER(customerCode, userId, userPwd, enabled) VALUES
                 (#{customerCode}, #{userId}, #{userPwd}, #{enabled}) 
    </insert>

    <insert id="insertAuthority" parameterType="com.sp.member.Member">
    	INSERT INTO memberAuthority(userId, authority)
    		VALUES (#{userId}, #{authority})
    </insert>
    
	<update id="updateLastLogin" parameterType="String">
		UPDATE  MEMBER SET last_login = SYSDATE
		WHERE userId=#{userId}
	</update>

    <select id="readMember1" parameterType="String" resultType="com.sp.member.Member">
		SELECT m1.customercode, userId, userName, userPwd, enabled, created_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel
		FROM CUSTOMER m1
		JOIN member m2 ON m1.customercode = m2.customercode
		WHERE userId = #{userId}
	</select>

    <select id="readMember2" parameterType="Long" resultType="com.sp.member.Member">
		SELECT m1.customercode, userId, userName, userPwd, enabled, created_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel
		FROM CUSTOMER m1
		LEFT OUTER JOIN member m2 ON m1.customercode = m2.customercode
		WHERE m1.customercode = #{customercode}
	</select>

</mapper>