<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	<select id="listShowingMovie" resultType="com.sp.movie.Movie">
		SELECT movieCode, movieNm, audits, thumbNail, movieStory, startDate, endDate
			FROM movie
			WHERE endDate> SYSDATE
	</select>
	
	
	
	
</mapper>