<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">

	<insert id="insertQuestion1" parameterType="com.sp.customer.question.Question">
		INSERT INTO question (code, type, parent, subject, content, isAnswer, userId, cateCode) 
		VALUES (QUESTION_seq.NEXTVAL, #{type}, #{parent}, #{subject}, #{content}, #{isAnswer} , #{userId} , #{cateCode})
	</insert>
	
	<insert id="insertQuestion2" parameterType="com.sp.customer.question.Question">
		INSERT INTO questionAnswer (code, subject, content, , userName, userId) 
		VALUES (#{code} , #{subject}, #{content} ,#{userName}, #{userId})
	</insert>
	
	<select id="listCategory" parameterType="map" resultType="com.sp.customer.question.Question">
		SELECT cateCode , cateName
		FROM questioncate
        ORDER BY cateCode
	</select>
	
	
	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='userName'">
			userName=#{keyword}
		</if>
		<if test="condition=='created'">
			( TO_CHAR(i.created, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(i.created, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM question q
		JOIN member m ON q.userId=m.userId
        <where>
			<if test="userId!=null and userId!='' and userId!='admin' ">
				q.userId = #{userId} AND
			</if>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/> AND
			</if>
			parent = 0
		</where>   
	</select>
	
	<!-- 글리스트 -->
	<select id="listQuestion" parameterType="map" resultType="com.sp.customer.question.Question">
		select code, q.userId, userName, isAnswer, cateName, subject, TO_CHAR(created, 'YYYY-MM-DD') created
        FROM question q
        JOIN questionCate q1 ON q.cateCode = q1.cateCode
        JOIN member m ON q.userId = m.userId
        JOIN customer c ON m.customerCode = c.customerCode
        <where>
			<if test="userId!=null and userId!='' and userId!='admin' ">
				q.userId = #{userId} AND
			</if>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/> AND
			</if>
			parent = 0
		</where>   
		ORDER BY code DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

	
	
	
</mapper>